html {
    height: 100%;
}


body {
    background: url(https://images.unsplash.com/photo-1487613813677-3f382ecb8868?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3fe541845d5ff993f27b55d9414a23ef&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    font-family: 'Pacifico', cursive;
    color: white;
    background-repeat: no-repeat;
/*    background-size:contain;*/
    background-position: center;
background-attachment: fixed;

}

.thumbnail {
    background-color: #f5f5f5ba;

}

hr {
    width: 50%;
    border: 1px solid;

}

img {
    border: 1px solid lightgray;
    border-radius: 8px;
     
}

.center-start {
    text-align: center;
    padding-top: 20%;
    text-shadow: 0px 4px 3px rgba (0, 0, 0, 0.4),
    0px 8px 13px rgba (0, 0, 0, 0.1),
    0px 19px 23px rgba (0, 0, 0, 0.1);
}

.center-section {
    text-align: center;
   
}

h1 {
    font-weight: 300;
    font-size: 3em;

}

section {
    padding-top: 5%;
    height: 900px;
}

.padding {
    margin-top: 5%;
    margin-bottom: 5%;
}

#section1 {
    background-color: rgba(242, 242, 242, 0.3);
    height:auto;
    padding-bottom: 10%;
   

}

#section2 {
    background-color: rgba(142, 212, 242, 0.3);
    height:auto;

}

textarea.form-control {
    height: 185px;
  
}


